@mixin bp( $measure ){
  @media ( min-width: $measure ){
    @content;
  }
}

@mixin transition( $property: all, $duration: $base-transition-duration ){
  -webkit-transition: $property $duration;
  -moz-transition: $property $duration;
  -ms-transition: $property $duration;
  -o-transition: $property $duration;
  transition: $property $duration;
}

@mixin reset-list(){
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
}

@mixin restore-list(){
    ul {
        margin: initial;
        list-style: initial;
        padding: 0 0 0 1em;
        &,
        ul {
            list-style-type: disc; 
            list-style-position: inside; 
            margin-left: 15px; 
            list-style-type: circle; 
        }
    }

    li {
        display: list-item;
        list-style: initial;
    }
}
