/**

    This is an incomplete collection of variables, 
    this project is using Twitter Bootstrap.
    Look in `../source/scss/vendor/bootstrap/_variables.scss` 
    for base set
    
    Note: Responsive breakpoints are set in 
    `../source/scss/vendor/bootstrap/_variables.scss`, 
    remember to update `../source/scripts/models/model_responsive.json` 
    if these breakponts change
    
    Reference:
    // Extra small screen / phone
    $screen-xs: 480px !default;
    // Small screen / tablet
    $screen-sm: 768px !default;
    // Medium screen / desktop
    $screen-md: 992px !default;
    // Large screen / wide desktop
    $screen-lg: 1200px !default;

**/

// Colors
// Naming tool: https://jsfiddle.net/itopizarro/bxrhgsh6/
// (Color naming thanks to http://chir.ag/projects/ntc)
$color-black: #000;
$color-white: #fff;


// Animation
$base-transition-duration: 333ms;